// common_scss
@import "./common_scss/reset.scss";
@import "./common_scss/color.scss";
@import "./common_scss/typhography.scss";

// layout
@import "./layout/flexbox.scss";
@import "./layout/position.scss";

// ui
@import "./ui/btn.scss";
@import "./ui/scroll.scss";

// style

* {
  @include reset;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  @include scroll;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.wraper {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

header {
  @include font_12($black);
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: $bgc;
  z-index: 2;
  .wraper {
    @include flexbox(end, center);
    ul {
      @include flexbox;
      max-width: 1300px;
      li {
        padding: 0 12px;
        .header-arrow {
          display: none;
        }
      }
      li:last-child {
        @include flexbox-column;
        padding-right: 0;
        ul {
          @include flexbox-column;
          @include pos-center-y;
          top: 65px;
          li {
            padding: 5px;
          }
          display: none;
        }
      }
    }
  }
}

nav {
  @include font_12($black);
  background-color: $white;
  position: fixed;
  top: 40px;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid $brown;
  .wraper {
    @include flexbox(between, center);
    img {
      width: 150px;
      height: 40px;
      object-fit: fill;
    }
    ul {
      @include flexbox;
      li {
        margin-left: 30px;
        transition: all 500ms ease;
      }
      li:hover {
        font-weight: 700;
        background-color: $bgc_mid;
      }
    }
    div {
      input {
        border: none;
        border-bottom: 1px solid $brown;
      }
      button {
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}

main {
  padding: 112px 0 0px;
  h1 {
    @include font_24($black);
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 70px;
  }
  .curiosity-box {
    @include flexbox;
    .question {
      @include flexbox-column;
      width: calc(50% - 23px);
      margin-bottom: 50px;
      margin-right: 46px;
      border: 1px solid $border;
      h2 {
        @include font_14($black);
        width: 50%;
        padding: 20px 0px;
        border-bottom: 1px solid $border;
        text-align: center;
      }
      ol {
        @include scroll;
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        li {
          width: 100%;
          transition: all 500ms ease;
          a {
            @include flexbox(between, center);
            width: 100%;
            p {
              @include font_14($black);
              padding: 0 20px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              line-height: 3;
            }
            span {
              @include font_12($white-black);
              padding-right: 20px;
            }
          }
        }
        li:hover {
          font-weight: 700;
          background-color: $bgc_mid;
      }
      }
    }
    .inquiry {
      @include flexbox-column(start, center);
      border: 1px solid $border;
      width: calc(50% - 23px);
      height: 357px;
      margin-bottom: 50px;
      h2 {
        @include font_14($black);
        width: 50%;
        padding: 20px 0px;
        border-bottom: 1px solid $border;
        text-align: center;
      }
      .inquiry-box {
        @include flexbox-column(start, center);
        position: relative;
        width: 100%;
        height: 100px;
        padding: 0 20px;
        .img-box {
          @include flexbox;
          width: 100%;
          height: 100%;
          margin-top: 10px;
          z-index: -1;
          img {
            height: 100%;
            object-fit: contain;
          }
          .user-info {
            @include font_12($black);
            margin-left: 40px;
            line-height: 2;
            h3 {
              border-bottom: 5px solid $bgc;
            }
          }
        }
        #message-title {
          border: none;
          padding: 0;
          text-align: center;
          margin-top: 20px;
          line-height: 1.5;
          border-bottom: 1px solid $black;
        }
        #message-content {
          @include scroll;
          width: 100%;
          min-height: 100px;
          text-align: center;
          border: 1px solid $black;
          margin-top: 20px;
          overflow-y: scroll;
          resize: none;
        }
        button {
          @include font_14($black);
          position: absolute;
          right: 20px;
          top: 275px;
          cursor: pointer;
        }
        button:hover {
          font-weight: 700;
          background-color: $bgc_mid;
        }
      }
    }
  }
}

footer {
  padding-top: 35px;
  @include font_12($black);
  background-color: $bgc;
  .wraper {
    @include flexbox-column;
    width: 100%;
    padding: 0 40px;
    .detail-info-top {
      width: 100%;
      ul {
        @include flexbox(start, start);
        li {
          @include flexbox-column(start, start);
          width: 20%;
          padding: 6px 0 0 15px;
          h2 {
            @include font_14($white-black);
            font-weight: 700;
            margin-bottom: 15px;
          }
          p {
            @include font_24($white-black);
            font-weight: 700;
            margin-bottom: 15px;
          }
          ul {
            @include flexbox-column(start, start);
            @include font_12($white-black);
            width: 100%;
            li {
              width: 100%;
              line-height: 2;
              padding: 0;
              a {
                width: 100%;
              }
            }
          }
          span {
            @include font_12($white-black);
            font-weight: 700;
            line-height: 2;
            padding: 0;
          }
        }
        li:last-child {
          width: auto;
          li {
            width: 100%;
          }
        }
      }
    }
    .detail-info-bottom {
      @include flexbox(between, start);
      width: 100%;
      margin: 35px 0 40px;
      padding-top: 35px;
      border-top: 1px solid $border;
      ul {
        @include flexbox-column(start, start);
        li {
          ul {
            @include flexbox(start, start);
            flex-direction: row;
            li {
              @include flexbox-inline(start, start);
              line-height: 2;
              h2 {
                @include font_12($white-black);
                font-weight: 700;
                margin-right: 10px;
              }
              p {
                @include font_12($black-white);
                margin-right: 30px;
                span {
                  @include font_12($white-black);
                }
              }
            }
          }
        }
      }
      .sns {
        ul {
          width: 100%;
          @include flexbox(start, start);
          flex-direction: row;
          font-size: 30px;
          li {
            padding: 10px 20px;
            border: 1px solid $border;
          }
          li:nth-child(1) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
