// common_scss
@import './common_scss/reset.scss';
@import './common_scss/color.scss';
@import './common_scss/typhography.scss';

// layout
@import './layout/flexbox.scss';
@import './layout/position.scss';

// ui
@import './ui/btn.scss';
@import './ui/scroll.scss';

// style

* {
    @include reset;
    box-sizing: border-box;
    color :inherit;
    background-color: inherit;
}

body {
    @include scroll;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.wraper {
    max-width: 1300px;
        height: 100%;
        margin: 0 auto;
}

img {
    object-fit: cover;
}

.upToHead {
    position: fixed;
    top: 90vh;
    left: 40px;
    font-size: 14px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

header {
    @include font_12($black);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: $bgc;
    
    .wraper {
        @include flexbox(end, center);
        ul {
            @include flexbox;
            max-width: 1300px;
            
            li {
                padding : 0 12px;
            }
            li:last-child {
                @include flexbox-column;
                padding-right: 0;
                ul {
                    
                    @include flexbox-column;
                    @include pos-center-y;
                    top: 65px;
                    li {
                        padding: 5px;
                    }
                    display: none;
                }
            }
        }
    }
}

nav {
    @include font_12($black);
    background-color: $white;
    position: fixed;
    top: 40px;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid $brown;
    .wraper {
        @include flexbox(between, center);
        img {
            width: 150px;
            height: 40px;
            object-fit:fill;
        }
        ul {
            @include flexbox;
            li {
                margin-left: 30px;
                transition: all 500ms ease;
            }
            li:hover {
                font-weight: 700;
                background-color: $bgc_mid;
            }
        }
        div {
            input {
                border: none;
                border-bottom: 1px solid $brown;
            }
            button {
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
}

.banner {
    padding-top: 112px;
    .wraper {
        height: 800px;
        overflow: hidden;
        ul {
            width: 400%;
            height: 100%;
            li {
                width: 25%;
                height: 100%;
                padding: 0 40px;
                float: left;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.shop {
    @include font_12($black);
    background-color: $white;
    text-align: center;
    .wraper {
        @include flexbox-column;
        width: 100%;
        padding : 0 40px;
        h1 {
            width: 100%;
            line-height: 2;
            padding: 20px 0;
        }
        .box-wraper {
            @include flexbox(between, center);
            width: 100%;;
            padding-bottom: 20px;
            .shop-box {
                width: 100%;
                .more {
                    width: 100%;
                    margin-bottom: 15px;
                    a {
                        width: 100%;
                        padding: 0 10px;
                        text-align: right;
                        i {
                            margin-left: 5px;
                        }
                    };
                    
                }
                div {
                    @include flexbox;
                   
                    a {
                        width: calc((100%/4) - 9px);
                        margin-right: 12px;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                        div {
                            @include flexbox(start,start);
                            padding: 5px 0;
                            .new {
                                @include lable_new;
                            }
                            .best {
                                @include lable_best;
                            }
                        }
                    }
                    a:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.photographer {
    @include font_12($black);
    background-color: $white;
    text-align: center;
    .wraper {
        @include flexbox-column;
        width: 100%;
        padding : 0 40px;
        h1 {
            width: 100%;
            line-height: 2;
            padding: 20px 0;
        }
        .box-wraper {
            @include flexbox(between, center);
            width: 100%;;
            padding-bottom: 20px;
            .photographer-box {
                width: 100%;
                .more {
                    width: 100%;
                    margin-bottom: 15px;
                    a {
                        width: 100%;
                        padding: 0 10px;
                        text-align: right;
                        i {
                            margin-left: 5px;
                        }
                    };
                    
                }
                div {
                    @include flexbox;
                    a {
                        width: calc((100%/4) - 9px);
                        margin-right: 12px;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    a:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.notice {
    @include font_14($black);
    text-align: center;
    .wraper {
        @include flexbox-column;
        width: 100%;
        padding : 0 40px;
       h1 {
        background-color: $bgc_mid;
        width: 100%;
        line-height: 2;
        padding: 20px 0;
       }
       .notice-box {
           @include flexbox;
           width: 100%;
           margin-bottom: 35px;
           div {
               position: relative;
               width: calc(50% - 10px);
               margin-right: 20px;
               h2 {
                padding: 20px 0;
               }
               ul {
                   @include flexbox-column(start,start);
                   text-align: left;
                   width: 100%;
                li {
                    @include flexbox(between, start);
                    width: 100%;
                    line-height: 2;
                    transition: all 500ms ease;
                    a {
                        @include font_12($black);
                        width: 100%;
                    }
                    p {
                        @include font_10($beige);
                    }
                }
                li:hover {
                    font-weight: 700;
                    background-color: $bgc_mid;
                }
                
               }
               .more {
                @include font_13($black);
                position: absolute;
                top: 0;
                right: 10px;
                width: auto;
                padding: 20px 0;
             }
           }
           div:last-child {
               margin-right: 0;
           }
       }
    }
}

footer {
    padding-top : 35px;
    @include font_12($black);
    background-color: $bgc;
    .wraper {
        @include flexbox-column;
        width: 100%;
        padding : 0 40px;
        .detail-info-top {
            width: 100%;
            ul {
                @include flexbox(start, start);
                li {
                    @include flexbox-column(start, start);
                    width: 20%;
                    padding: 6px 0 0 15px;
                    h2 {
                        @include font_14($white-black);
                        font-weight: 700;
                        margin-bottom:15px;
                    }
                    p {
                        @include font_24($white-black);
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                    ul {
                        @include flexbox-column(start, start);
                        @include font_12($white-black);
                        width: 100%;;
                        li {
                            width: 100%;
                            line-height: 2;
                            padding: 0;
                            a {
                                width: 100%;
                            }
                        }
                    }
                    span {
                        @include font_12($white-black);
                        font-weight: 700;
                        line-height: 2;
                        padding: 0;
                    }
                }
                li:last-child {
                    width: auto;
                    li {
                        width: 100%;
                    }
                }
            }
        }
        .detail-info-bottom {
            @include flexbox(between, start);
            width: 100%;;
            margin: 35px 0 40px;
            padding-top: 35px;
            border-top: 1px solid $border;
            ul {
                @include flexbox-column(start, start);
                li {
                    ul {
                        @include flexbox(start, start);
                        flex-direction: row;
                        li {
                            @include flexbox-inline(start, start);
                            line-height: 2;
                            h2 {
                                @include font_12($white-black);
                                font-weight: 700;
                                margin-right: 10px;
                            }
                            p {
                                @include font_12($black-white);
                                margin-right: 30px;
                                span {
                                    @include font_12($white-black);
                                }
                            }
                        }
                    }
                }
            }
            .sns {
                ul {
                    width: 100%;
                    @include flexbox(start, start);
                    flex-direction: row;
                    font-size: 30px;
                    li {
                        padding: 10px 20px;
                        border : 1px solid $border;
                    }
                    li:nth-child(1) {
                        margin-right: 20px;
                    }
                }
                
            }
        }
    }
}
