* {
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  /* HTML5 display-role reset for older browsers */
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}
* html, * body, * div, * span, * applet, * object, * iframe,
* h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre,
* a, * abbr, * acronym, * address, * big, * cite, * code,
* del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp,
* small, * strike, * strong, * sub, * sup, * tt, * var,
* b, * u, * i, * center,
* dl, * dt, * dd, * ol, * ul, * li,
* fieldset, * form, * label, * legend,
* table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
* article, * aside, * canvas, * details, * embed,
* figure, * figcaption, * footer, * header, * hgroup,
* menu, * nav, * output, * ruby, * section, * summary,
* time, * mark, * audio, * video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* article, * aside, * details, * figcaption, * figure,
* footer, * header, * hgroup, * menu, * nav, * section {
  display: block;
}
* body {
  line-height: 1;
}
* ol, * ul {
  list-style: none;
}
* blockquote, * q {
  quotes: none;
}
* blockquote:before, * blockquote:after,
* q:before, * q:after {
  content: "";
  content: none;
}
* table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #A48F75;
}
body::-webkit-scrollbar-track {
  background-color: #ECE9E2;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.wraper {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

.upToHead {
  position: fixed;
  top: 90vh;
  left: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

header {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #ECE9E2;
  z-index: 5;
}
header .wraper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
header .wraper ul {
  align-items: center;
  display: flex;
  justify-content: center;
}
header .wraper ul li {
  padding: 0 12px;
}
header .wraper ul li .header-arrow {
  display: none;
}
header .wraper ul li:last-child {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
}
header .wraper ul li:last-child ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  top: 65px;
  display: none;
}
header .wraper ul li:last-child ul li {
  padding: 5px;
}

nav {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  position: fixed;
  top: 40px;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #A48F75;
  z-index: 5;
}
nav .wraper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav .wraper img {
  width: 150px;
  height: 40px;
  object-fit: fill;
}
nav .wraper ul {
  align-items: center;
  display: flex;
  justify-content: center;
}
nav .wraper ul li {
  margin-left: 30px;
  transition: all 500ms ease;
}
nav .wraper ul li:hover {
  font-weight: 700;
  background-color: #FAF6F3;
}
nav .wraper div input {
  border: none;
  border-bottom: 1px solid #A48F75;
}
nav .wraper div button {
  padding-left: 10px;
  cursor: pointer;
}

main .wraper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  padding-top: 112px;
}
main .wraper h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 30px 0;
}
main .wraper .best-p .best-p-list {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}
main .wraper .best-p .best-p-list .best-p-list-item {
  position: relative;
  width: calc(25% - 9px);
  height: 220px;
  margin-right: 12px;
}
main .wraper .best-p .best-p-list .best-p-list-item a {
  width: 100%;
}
main .wraper .best-p .best-p-list .best-p-list-item a h4 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #A48F75;
  opacity: 0.8;
  padding: 5px 0;
  text-align: center;
}
main .wraper .best-p .best-p-list .best-p-list-item a .main-p {
  width: 100%;
  object-fit: cover;
}
main .wraper .best-p .best-p-list .best-p-list-item a .sub-p {
  display: none;
  width: 100%;
  object-fit: cover;
}
main .wraper .best-p .best-p-list .best-p-list-item a p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: center;
  line-height: 2;
}
main .wraper .best-p .best-p-list .best-p-list-item a:hover .main-p {
  display: none;
}
main .wraper .best-p .best-p-list .best-p-list-item a:hover .sub-p {
  display: block;
}
main .wraper .best-p .best-p-list .best-p-list-item:last-child {
  margin-right: 0;
}
main .wraper .filter {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
}
main .wraper .filter li {
  padding-right: 18px;
}
main .wraper .filter li button {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
}
main .wraper .filter li:last-child {
  padding-right: 0;
}
main .wraper .all-p {
  margin-top: 30px;
  padding: 0 20px;
}
main .wraper .all-p ul {
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  max-width: 1300px;
}
main .wraper .all-p ul li {
  width: calc(25% - 9px);
  height: 250px;
  margin-right: 12px;
}
main .wraper .all-p ul li a {
  width: 100%;
  height: 100%;
}
main .wraper .all-p ul li a img {
  width: 100%;
  object-fit: cover;
}
main .wraper .all-p ul li a p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin-top: 5px;
}
main .wraper .all-p ul li:nth-child(4n) {
  margin-right: 0;
}
main .wraper .p-pagination-box {
  margin: 40px 0;
}
main .wraper .p-pagination-box .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}
main .wraper .p-pagination-box .pagination .page-item {
  cursor: pointer;
  padding: 0 10px;
}

footer {
  padding-top: 35px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  background-color: #ECE9E2;
}
footer .wraper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 40px;
}
footer .wraper .detail-info-top {
  width: 100%;
}
footer .wraper .detail-info-top ul {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}
footer .wraper .detail-info-top ul li {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  padding: 6px 0 0 15px;
}
footer .wraper .detail-info-top ul li h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646B72;
  font-weight: 700;
  margin-bottom: 15px;
}
footer .wraper .detail-info-top ul li p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #646B72;
  font-weight: 700;
  margin-bottom: 15px;
}
footer .wraper .detail-info-top ul li ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #646B72;
  width: 100%;
}
footer .wraper .detail-info-top ul li ul li {
  width: 100%;
  line-height: 2;
  padding: 0;
}
footer .wraper .detail-info-top ul li ul li a {
  width: 100%;
}
footer .wraper .detail-info-top ul li span {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #646B72;
  font-weight: 700;
  line-height: 2;
  padding: 0;
}
footer .wraper .detail-info-top ul li:last-child {
  width: auto;
}
footer .wraper .detail-info-top ul li:last-child li {
  width: 100%;
}
footer .wraper .detail-info-bottom {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 35px 0 40px;
  padding-top: 35px;
  border-top: 1px solid #D6D9DC;
}
footer .wraper .detail-info-bottom ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .wraper .detail-info-bottom ul li ul {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
footer .wraper .detail-info-bottom ul li ul li {
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-start;
  line-height: 2;
}
footer .wraper .detail-info-bottom ul li ul li h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #646B72;
  font-weight: 700;
  margin-right: 10px;
}
footer .wraper .detail-info-bottom ul li ul li p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #8b9197;
  margin-right: 30px;
}
footer .wraper .detail-info-bottom ul li ul li p span {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #646B72;
}
footer .wraper .detail-info-bottom .sns ul {
  width: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 30px;
}
footer .wraper .detail-info-bottom .sns ul li {
  padding: 10px 20px;
  border: 1px solid #D6D9DC;
}
footer .wraper .detail-info-bottom .sns ul li:nth-child(1) {
  margin-right: 20px;
}

/*# sourceMappingURL=photographer.css.map */
