// common_scss
@import './common_scss/reset.scss';
@import './common_scss/color.scss';
@import './common_scss/typhography.scss';

// layout
@import './layout/flexbox.scss';
@import './layout/position.scss';

// ui
@import './ui/btn.scss';
@import './ui/scroll.scss';

// style


* {
    @include reset;
    box-sizing: border-box;
    color :inherit;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

body {
    @include scroll;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.wraper {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}

img {
    object-fit: cover;
}

.upToHead {
    position: fixed;
    top: 90vh;
    left: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    z-index: 6;
    background-color: $white;
    padding: 5px 10px;
    border-radius: 50%;
}

.upToHead:hover {
    background-color: $border;
}

header {
    @include font_12($black);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: $bgc;
    z-index: 100;
    .wraper {
        @include flexbox(end, center);
        ul {
            @include flexbox;
            li {
                padding : 0 12px;
                .header-arrow {
                    display: none;
                }
            }
            li:last-child {
                @include flexbox-column;
                padding-right: 0;
                ul {
                    @include flexbox-column;
                    @include pos-center-y;
                    top: 65px;
                    li {
                        padding: 5px;
                    }
                    display: none;
                }
            }
        }
    }
}

nav {
    @include font_12($black);
    background-color: $white;
    position: fixed;
    top: 40px;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid $brown;
    z-index: 100;
    .wraper {
        @include flexbox(between, center);
        img {
            width: 150px;
            height: 40px;
            object-fit:fill;
        }
        ul {
            @include flexbox;
            li {
                margin-left: 30px;
                transition: all 500ms ease;
            }
            li:hover {
                font-weight: 700;
                background-color: $bgc_mid;
            }
        }
        div {
            input {
                border: none;
                border-bottom: 1px solid $brown;
            }
            button {
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
}

section {
    padding-top: 112px;
    .wraper {
        @include flexbox(start, start);
        position: relative;
        main {
            width: 70%;
            h1 {
                @include font_14($black);
                width: 100%;
                margin: 30px 0;
                text-align: center;
            }
            .img-box {
                @include flexbox-inline(start,start);
                width: 100%;
                flex-wrap: wrap;
                li {
                    width: 25%;
                    padding: 10px 10px;
                    a {
                        width: 100%;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                        p {
                            @include font_12($black-white);
                            text-align: center;
                        }
                    }
                }
            }
            .pagination-box {
                @include font_14(#111);
                margin: 20px 0 50px;
                .pagination {
                    @include flexbox;
                    .page-item {
                        cursor: pointer;
                        padding: 0 10px;
                    }
                }
            }
            
        }
        aside {
            @include flexbox-column(start,start);
            position: sticky;
            top: 195px;
            width: 30%;
            padding: 0 10px;
            .drop-box {
                @include flexbox;
                @include font_14($black);
                @include scroll;
                width: 100%;
                height: 500px;
                overflow-y: scroll;
                border: 1px solid $border;
            }
            .bt-box {
                @include flexbox(start,start);
                width: 100%;
                margin-top: 10px;
                button {
                    @include font_12($brown);
                    width: calc(50% - 5px);
                    padding: 10px 20px;
                    border: 1px solid $border;
                    cursor: pointer;
                    background-color: $bgc;
                    margin-bottom: 10px;
                }
                .bt-s {
                    margin-right: 10px;
                }
                button:hover {
                    background-color: $bgc_mid;
                }
            }
        }
    }
}


footer {
    padding-top : 35px;
    @include font_12($black);
    background-color: $bgc;
    .wraper {
        @include flexbox-column;
        width: 100%;
        padding : 0 40px;
        .detail-info-top {
            width: 100%;
            ul {
                @include flexbox(start, start);
                li {
                    @include flexbox-column(start, start);
                    width: 20%;
                    padding: 6px 0 0 15px;
                    h2 {
                        @include font_14($white-black);
                        font-weight: 700;
                        margin-bottom:15px;
                    }
                    p {
                        @include font_24($white-black);
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                    ul {
                        @include flexbox-column(start, start);
                        @include font_12($white-black);
                        width: 100%;;
                        li {
                            width: 100%;
                            line-height: 2;
                            padding: 0;
                            a {
                                width: 100%;
                            }
                        }
                    }
                    span {
                        @include font_12($white-black);
                        font-weight: 700;
                        line-height: 2;
                        padding: 0;
                    }
                }
                li:last-child {
                    width: auto;
                    li {
                        width: 100%;
                    }
                }
            }
        }
        .detail-info-bottom {
            @include flexbox(between, start);
            width: 100%;;
            margin: 35px 0 40px;
            padding-top: 35px;
            border-top: 1px solid $border;
            ul {
                @include flexbox-column(start, start);
                li {
                    ul {
                        @include flexbox(start, start);
                        flex-direction: row;
                        li {
                            @include flexbox-inline(start, start);
                            line-height: 2;
                            h2 {
                                @include font_12($white-black);
                                font-weight: 700;
                                margin-right: 10px;
                            }
                            p {
                                @include font_12($black-white);
                                margin-right: 30px;
                                span {
                                    @include font_12($white-black);
                                }
                            }
                        }
                    }
                }
            }
            .sns {
                ul {
                    width: 100%;
                    @include flexbox(start, start);
                    flex-direction: row;
                    font-size: 30px;
                    li {
                        padding: 10px 20px;
                        border : 1px solid $border;
                    }
                    li:nth-child(1) {
                        margin-right: 20px;
                    }
                }
                
            }
        }
    }
}