$black : #333;
$white-black : #646B72;
$grey : #5b5b5b;
$brown : #A48F75;;
$beige : #7e6f5b;
$black-white : #8b9197;
$white : #fff;

$bgc : #ECE9E2;
$bgc_mid : #FAF6F3;;

$border : #D6D9DC;

$btn_new : #B5B4B6;
$btn_best : #ECCFBD;
