@mixin lable_new {
    width: 50px;
    height: 18px;
    line-height: 1.5;
    text-align: center;
    background-color: $btn_new;
    @include font_12($white);
}

@mixin lable_best {
    width: 50px;
    height: 18px;
    line-height: 1.5;
    text-align: center;
    background-color: $btn_best;
    @include font_12($white);
}